name: tests
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  gotest:
    name: go test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: https://git.rgst.io/rgst-io/mise-action@v2
        with:
          experimental: true
          ## <<Stencil::Block(forgejoGithubToken)>>
          github_token: ${{ secrets.ACTUAL_GITHUB_TOKEN }}
          ## <</Stencil::Block>>
      - name: Get Go directories
        id: go
        run: |
          echo "cache_dir=$(go env GOCACHE)" >> "$GITHUB_OUTPUT"
          echo "mod_cache_dir=$(go env GOMODCACHE)" >> "$GITHUB_OUTPUT"
      - uses: actions/cache@v4
        with:
          path: ${{ steps.go.outputs.cache_dir }}
          key: ${{ runner.os }}-go-build-cache-${{ hashFiles('**/go.sum') }}
      - uses: actions/cache@v4
        with:
          path: ${{ steps.go.outputs.mod_cache_dir }}
          key: ${{ runner.os }}-go-mod-cache-${{ hashFiles('go.sum') }}
      - name: Download dependencies
        run: go mod download
      - name: Run go test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gotestsum -- -coverprofile=cover.out ./...

  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: https://git.rgst.io/rgst-io/mise-action@v2
        with:
          experimental: true
          ## <<Stencil::Block(forgejoGithubToken)>>
          github_token: ${{ secrets.ACTUAL_GITHUB_TOKEN }}
          ## <</Stencil::Block>>
      - name: Retrieve golangci-lint version
        run: |
          echo "version=$(mise current golangci-lint)" >> "$GITHUB_OUTPUT"
        id: golangci_lint
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v${{ steps.golangci_lint.outputs.version }}
          args: --timeout=30m
